@import './switch/switch.css';
@import './todo-container.css';
@import './button-group/button-group.css';
@import './form-container/form-container.css';
@import './task-container/task-container.css';
@import './progress.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    background-color: #eee;
    font-family: Arial, sans-serif;
    transition: all 0.3s;
}

.dark-mode {
    background-color: #2c3e50;
    color: white;
    transition: all 0.3s;
}

.header {
    padding: 10px;
    margin-bottom: 20px;
}


.color-white {
    color: white;
}